<body id="body1">
    <p class="special">Maja Pandiloska</p>
  
    <div class="navbar">
        <a [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
        <div class="dropdown">
          <button class="dropbtn">For You
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a [routerLink]="['/survey']" routerLinkActive="active">Survey</a>
            <a [routerLink]="['/quiz']" routerLinkActive="active">Quiz</a>
          </div>
        </div>
        <a [routerLink]="['/blog']" routerLinkActive="active">Blog</a>
        <a [routerLink]="['/gallery']" routerLinkActive="active">Gallery</a>
        <div class="dropdown">
          <button class="dropbtn">Favourite
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a [routerLink]="['/movies']" routerLinkActive="active">Movies, TV shows, Music</a>
            <a [routerLink]="['/food']" routerLinkActive="active">Food</a>
          </div>
        </div>
        <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
      </div>
      

  
      <script type="text/javascript">
          var name;
         name=window.prompt("Enter your name");
         document.writeln("<h1> Survey by " + name + " </h1>");
         </script>
  
      <p class="nodec">Submit this survey to improve this web site</p>
      <form method="post" action="anketa.html">
          <p>
              <label>Name:
                  <input name="name" type="text" size="10" maxlength="20" onfocus="myFunction(this)">
              </label>
          </p>
  
          <p>
              <label>Surname:
                  <input name="name" type="text" size="10" maxlength="20" onfocus="myFunction(this)">
              </label>
          </p>
          <label>Gender</label>
          <select name="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
          </select>
  
          <p>
              <label>Age</label>
              <input type="number" name="Age" value="20">
              </p>
  
          <p>
              <label>Date & time:
                 <input type = "datetime-local" /> 
              </label>
           </p>
  
      <h2 id="surv">How do you like this web site?</h2> 
      <input type="checkbox" >
      <label for="vehicle1">Excellent</label><br>
  
      <input type="checkbox">
      <label for="vehicle1">Very good</label><br>
  
      <input type="checkbox" >
      <label for="vehicle1">Good</label><br>
  
      <input type="checkbox" >
      <label for="vehicle1">Awful</label><br>
      <p>
          <label for="points">Your grade (between 0 and 10):</label>
          <input type="range" id="points" name="points" min="0" max="10">
      </p>
  
      <h2 id="surv">What do you like the most? </h2> 
      <input type="checkbox" >
      <label for="vehicle1">Design</label><br>
  
      <input type="checkbox">
      <label for="vehicle1">Colors</label><br>
  
      <input type="checkbox" >
      <label for="vehicle1">Favourite things</label><br>
  
      <input type="checkbox" >
      <label for="vehicle1">Gallery</label><br>
  
      <input type="checkbox" >
      <label for="vehicle1">Other</label><br>
      <p>
          <label><h2 id="surv">Note:</h2></label>
          <p>
          <textarea rows="5" cols="50" placeholder="Внеси коментар"></textarea>
          </p>
    
  
      <button onclick="myFunction1()">Send</button>
          
  
  
  
      </form>
      <div class="icons">
        <a href="https://www.facebook.com/maja.pandiloska/"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/majapandiloska/"><i class="fa fa-instagram"></i></a>
        <a href="https://twitter.com/pm9_pm10"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/majapand/oweb"><i class="fa fa-github"></i></a>
      </div>
  
      <script>
          function myFunction(x){
              x.style.background="lightslategray";
          }
      </script>
      
  </body>