<body id="bgblog">
    <p class="special">Maja Pandiloska</p>
  
    <div class="navbar">
        <a [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
        <div class="dropdown">
          <button class="dropbtn">For You
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a [routerLink]="['/survey']" routerLinkActive="active">Survey</a>
            <a [routerLink]="['/quiz']" routerLinkActive="active">Quiz</a>
          </div>
        </div>
        <a [routerLink]="['/blog']" routerLinkActive="active">Blog</a>
        <a [routerLink]="['/gallery']" routerLinkActive="active">Gallery</a>
        <div class="dropdown">
          <button class="dropbtn">Favourite
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a [routerLink]="['/movies']" routerLinkActive="active">Movies, TV shows, Music</a>
            <a [routerLink]="['/food']" routerLinkActive="active">Food</a>
          </div>
        </div>
        <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
      </div>
      

      <script>
    
        function start(){
          var current = new Date();
          document.getElementById("getMethods").innerHTML = "<p>Date: " + current.getDate() + "." + current.getMonth() + "." + current.getFullYear() + "</p>" + "<p>Time: " + current.getHours() + ":" + current.getMinutes() + "</p>";
        }
        window.addEventListener("load", start, false);
    
    
        function reset() {
                     document.getElementById("form").reset();}
          var name;
          var now = new Date();
          var hour = now.getHours();
          if(hour < 12)
            document.write("<h3> Good morning! </h3>");
          if(hour >= 12){
            hour = hour - 12;
            if(hour<6)
              document.write("<h3> Good evening! </h3>");
            if (hour >= 6)
              document.write("<h3> Good night! </h3>");
          }
    
          function myFunction() {
            var x = document.getElementById("myText").value;
            document.getElementById("demo").innerHTML = x;
          }
      </script>
  
      <h1>Blog</h1>


    <div>
        <input id="blogSbj" type="text" name="usrname" placeholder="Title" class="pos"><br><br>
        <div style="text-align: center;">
            <textarea style="margin-left: -1.6%;"rows="14" cols="100" placeholder="Enter text..." id="blogTxt"></textarea>
        </div>
        <form onsubmit="blogPost()" id="blog-form"><br>
            <input class="pos" id="blogAlias" type="text" name="usrname" placeholder="Author"><br><br>
            <button class="pos" id="submit" type="submit">Post</button>
        </form><br>
        <div style="text-align: center;">
            <input class="stil2" type="number" id="postNumber" placeholder="Post number"><br>
            <button class="stil" onClick="handleDelete()" style="width: 11%;
            margin-top: 1px;">Delete</button>
        </div>
    </div>
    <div style="text-align: center;">
        <div style="width: 50%; background-color: #E14658;" id="submittedDiv">
        </div>
    </div>


    <script>
        function blogPost() {
            event.preventDefault()
            let blogTxt = document.getElementById("blogTxt").value
            let blogAlias = document.getElementById("blogAlias").value
            let blogSbj = document.getElementById("blogSbj").value
            let submittedDiv = document.getElementById("submittedDiv")
            let posts = JSON.parse(localStorage.getItem('posts')) || [];
            let htmlString = "<h2 style=\"background-color:whitesmoke;\"id='subject'> Title: " + blogSbj + "</h2>" + '<p id="content" style="word-wrap: break-word; text-align:left">' + blogTxt + "</p>" + " <b><p style=\"text-align:left\"id='ime'> Напишано од: " + blogAlias + "</p></b>"
            posts.push(htmlString)
            localStorage.setItem('posts', JSON.stringify(posts))
            let newString = "";
            posts.forEach(element => {
                newString += element
                newString += "<hr>"
            });
            submittedDiv.innerHTML = newString
            console.log("posts = " + posts)
        }
        const handleDelete = () => {
            const postId = document.getElementById("postNumber").value;
            console.log("postNumber:" + postId);
            let posts = JSON.parse(localStorage.getItem('posts')) || [];
            if (posts.length === 0) {
                window.alert("There is no post! You can't delete post")
                return;
            }
            if (postId > posts.length || postId < 1) {
                window.alert("You enter wrong number! Post does not exist.")
                return;
            }
            posts.splice(postId - 1, 1);
            let tempString = "";
            posts.forEach(element => {
                tempString += element
                tempString += "<hr>"
            })
            console.log("posle foreach");
            localStorage.setItem('posts', JSON.stringify(posts));
            document.getElementById("submittedDiv").innerHTML = tempString;
        }
    </script>
